<html>

<head>



</head>

<body>

First Name: <input id="name" type="text" name="first_name"><br>
Last Name: <input type="text" name="last_name"><br>
PUID: <input type="text" name="puid"><br>
<button> Check </button>
<p id="b"> hsy </p>
<p id="c"> input </p>
<p id="d"> last </p>

{% load staticfiles %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{% static "swipe/index.js" %}"></script>

</body>

</html>