<html>
  <head>
    {% load staticfiles %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "swipe/jquery.timer.js" %}"></script>
    <script type="text/javascript" src="{% static "swipe/move.min.js" %}"></script>
    <script type="text/javascript" src="{% static "swipe/index.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "swipe/swipe.css" %}" />
  </head>

  <body>
    <div id="member_status" class="card"> --member status-- </div>
    <div id="background"></div>
  </body>
</html>