<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
self.setInterval(function() {
    if (lastTime + 1  )
}, 10000);

var currentInput = "";
var lastTime = (new Date).getTime();

$(document).ready(function() {
    $("button").click(function() {
        $(this).text((new Date).getTime());
    });
});

$(document).keypress(function(event) {
    if (lastTime + 2 < (new Date).getSeconds()) {
        event = event || window.event;
        var charCode = event.which || event.keyCode;
        var charStr = String.fromCharCode(charCode);
        currentInput = currentInput + charStr;
        lastTime = (new Date).getSeconds();
    }
    alert(currentInput);
});
</script>
</head>

First Name: <input type="text" name="first_name"><br>
Last Name: <input type="text" name="last_name"><br>
PUID: <input type="text" name="puid"><br>
<button> Check </button>
<p id="dum"> hey </p>