body
{
	background-image:url('tfc.jpg');
	background-color:#cccccc;
}

.card {
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	width:500px;
	height:300px;
    background-color:#FFFFFF;
}

.card_container {
	width:100%;
	overflow:hidden;
}

#guest_swipe {

}

#instructions {
    font-size:20;
}